[Unit]
Description=Mini Hacker Pi Shell
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/cybersecurity-journey/projects/mini-hacker-pi
ExecStart=/usr/bin/python3 /home/pi/cybersecurity-journey/projects/mini-hacker-pi/src/shell/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target